// Button.jsx
.button {
	position: relative;
	font-weight: 700;
	font-family: "Lato", Calibri, Arial, sans-serif;
	font-size: 16px;
	letter-spacing: 1.5px;
	min-width: 100px;
	max-width: 350px;
	text-transform: uppercase;
	padding: 20px 10px;
	border-radius: 2px;
	outline: none;
	overflow: hidden;
	transition: all 0.3s;
}

.button:hover {
	background: none;
	color: white;
}

.button:after {
	content: "";
	position: absolute;
	z-index: -1;
	width: 100%;
	height: 0;
	opacity: 0;
	top: 50%;
	left: 50%;
	background: black;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	transform: translateX(-50%) translateY(-50%) rotate(45deg);
}

.button:hover:after {
	height: 260%;
	opacity: 1;
}

// ActionButton.jsx
.action-btn {
	width: 60px;
	height: 60px;
	-webkit-box-shadow: 0 8px 6px -6px black;
	-moz-box-shadow: 0 8px 6px -6px black;
	box-shadow: 0 8px 6px -6px black;
	transition-duration: 0.3s;

	&.backspace {
		background: #659dbd;
	}

	&.check {
		background: #ffbd54;
	}

	&.clear {
		background: #ff652f;
	}
}

.action-btn:focus {
	outline: none !important;
}

.action-btn:hover {
	transform: scale(1.1);
}

// Input.jsx
.input {
	line-height: 20px;
	font-size: 20px;
	border-radius: 9999em;
	padding: 10px 10px 10px 20px;
	outline: none;
	border: solid 0.5px lightgrey;
}

.input:focus {
	border: solid 1px black;
}
