@import "./components";

/* Common */
.flex {
	display: flex;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.pull-right {
	float: right;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-vertical-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.space-10 > * {
	margin-bottom: 10px;
	&:last-child {
		margin-bottom: 0;
	}
}

.space-20 > * {
	margin-bottom: 20px;
	&:last-child {
		margin-bottom: 0;
	}
}

.divider {
	flex-grow: 1;
	top: 0.45em;
	height: 1px;
	flex-shrink: 1;
	position: relative;
	background-color: #efefef;
}

// App
.container {
	padding-top: 30px;
}

// Home page
.home {
	margin: 0 auto;
	width: 300px;
}

// Sign up page
.sign-up-page {
	text-align: center;
}

// Play Page
.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

.game-page {
	.game-btn {
		width: 60px;
		height: 60px;
		border-radius: 5px;
		outline: none;
		text-transform: capitalize;

		&.selected {
			background-color: #28a745;

			&:hover {
				background-color: #28a745;
				border-color: #28a745;
			}
		}
	}

	.game-btn:hover {
		background-color: #e1ecf4;
		border-color: #e1ecf4;
		transition-duration: 0.3s;
	}

	.game-grid {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-gap: 0;
		justify-items: center;
	}

	.bottom {
		> * {
			padding: 0;
		}
	}

	.selected-chars {
		text-transform: uppercase;
		height: 40px;
		font-size: 36px;
		margin-bottom: 20px;
		direction: RTL;
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
	}

	.score {
		font-size: 30px;
	}

	.counter {
		font-size: 100px;
	}
}
