@import "./components";

/* Common */
.flex {
	display: flex;
}

.flex-row {
	display: flex;
	flex-direction: row;
}

.flex-column {
	display: flex;
	flex-direction: column;
}

.grid-2 {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	justify-items: center;

	&.no-gap {
		grid-gap: 0;
	}
}

.grid-3 {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	justify-items: center;

	&.no-gap {
		grid-gap: 0;
	}
}

.pull-right {
	float: right;
}

.margin-right-10 {
	margin-right: 10px;
}

.margin-bottom-20 {
	margin-bottom: 20px;
}

.margin-top-10 {
	margin-top: 10px;
}

.margin-top-20 {
	margin-top: 20px;
}

.margin-top-30 {
	margin-top: 30px;
}

.margin-vertical-20 {
	margin-top: 20px;
	margin-bottom: 20px;
}

.vertical {
	&.space-10 > * {
		margin-bottom: 10px;
		&:last-child {
			margin-bottom: 0;
		}
	}

	&.space-20 > * {
		margin-bottom: 20px;
		&:last-child {
			margin-bottom: 0;
		}
	}
}

.horizontal {
	&.space-10 > * {
		margin-right: 10px;
		&:last-child {
			margin-right: 0;
		}
	}

	&.space-20 > * {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
	}
}

.divider {
	flex-grow: 1;
	top: 0.45em;
	height: 1px;
	flex-shrink: 1;
	position: relative;
	background-color: #efefef;
}

.big-font {
	font-size: 72px;
}

.secondary-text {
	color: #a9a9a9;
}

// App
.container {
	padding-top: 30px;
}

// Home page
.home {
	margin: 0 auto;
	width: 350px;

	.title {
		text-align: center;
		font-family: "Playfair Display", serif;
	}
}

// Sign up page
.sign-up {
	margin: 0 auto;
	width: 300px;

	h1 {
		text-align: center;
	}
}

.centered {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
}

// Game page
.game-page {
	.game-btn {
		width: 60px;
		height: 60px;
		border-radius: 5px;
		outline: none;
		text-transform: capitalize;
		font-family: "Fira Sans", sans-serif;
		font-size: 20px;

		&.selected {
			background-color: #28a745;
			color: white;

			&:hover {
				background-color: #28a745;
				border-color: #28a745;
			}
		}

		&.hovered {
			background-color: #e1ecf4;
			border-color: #e1ecf4;
		}
	}

	.game-btn:hover {
		background-color: #e1ecf4;
		border-color: #e1ecf4;
		transition-duration: 0.3s;
	}

	.game-grid {
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		grid-gap: 0;
		justify-items: center;
	}

	.bottom {
		> * {
			padding: 0;
		}
	}

	.selected-chars {
		text-transform: uppercase;
		height: 60px;
		font-size: 40px;
		margin-bottom: 10px;
		border-bottom: 0.2px solid lightgray;
		width: 100%;
		overflow-x: scroll;
		overflow-y: hidden;
		direction: rtl;
		font-family: "Fira Sans", sans-serif;
		font-style: italic;
	}

	.score {
		margin: 5px 0 0 10px;
		font-size: 40px;
		font-family: "Fira Sans", sans-serif;
		font-style: italic;
	}

	.counter {
		font-size: 100px;
		font-family: "Fira Sans", sans-serif;
		font-style: italic;
	}
}

.results {
	margin: 0 auto;
	width: 450px;
	align-items: center;

	button {
		width: 100%;
	}

	.result-rows {
		width: 100%;
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		grid-gap: 0;

		.result-col {
			text-align: center;

			.sign-in-prompt {
				margin-top: 30px;
				font-size: 30px;

				a {
					text-decoration: none;
				}
			}
		}
	}

	.top-five-card {
		padding: 10px;
		height: 70px;
		width: 100%;
		box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.2);
		border-radius: 10px;
		text-transform: uppercase;
		display: flex;
		justify-content: space-between;

		h2,
		h3 {
			margin: 0;
			align-self: center;
		}
	}
}

.user-info-card {
	height: 300px;
	width: 100%;
	border: 0.2px solid lightgray;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
	border-radius: 15px;
	padding: 20px;

	.grid-2,
	.grid-3 {
		height: 50%;
		text-align: center;
	}

	.grid-2 {
		grid-template-columns: 40% 60%;

		img {
			width: 130px;
			height: 130px;
			border-radius: 50%;
		}

		.username {
			text-transform: uppercase;
			margin: auto 0;
		}
	}
}
